* {
    box-sizing: border-box;
    margin:0%;
    padding:0%;
    font-family: 'Roboto', sans-serif;
  }
  
  body{
    background-color:var(--cor-primaria);
  }
  
 
.topo{
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 50px;
  font-size: 30px;
  font-family: 'Segoe UI', sans-serif;
  list-style: none;
  background-color: var(--cor-secundaria);
}

.topo :hover {
color: white
}

.topo a{
  text-decoration: none;
  color:var(--cor-terciaria);
}
a:hover{
  color: white;
}
  
  h1, h2, h3,p {
    color:#fff;
    text-align: center;
    font-size: 25px; 
    font-family: 'Segoe UI', sans-serif;
  }
  
  .titulor {
    color: #ffffff;
    font-size: 42px;
    margin-top:100px;
    font-family: 'Segoe UI', sans-serif;
   justify-content: center;
  }
  
  .destaque {
    color: var(--cor-terciaria);
    font-weight: bold;
  }
  
  .subtitulo {
    text-align: center;
    color: #cccccc;
    font-size: 25px;
    margin-top: 10px;
    font-family: 'Segoe UI', sans-serif;
  }
  
  
  .foto-principal{
    width:350px;
    height: 350px;
    border:3px solid  var(--cor-terciaria);
    border-radius: 100%;
    display: block;
    margin: auto;
   box-shadow: var(--cor-terciaria) 0px 20px 30px -10px;
   margin-top:100px;
   animation: flutuar 5s ease-in-out infinite;
    
  }
  
  .botao1 {
    margin-left:47%;
    margin-top: 130px;
    background-color:var(--cor-terciaria);
    color:#ffffff;
    font-size:20px;
    text-decoration: none;
    display: block;
    padding:10px 5px 10px 5px;
    border-radius:10px;
    display: inline-block;
    border: none;
  }
  
  .botao1:hover{
    background:var(--cor-primaria);
  }
  
  #about-me {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .sobre {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-top: 100px;
  }
  
  .sobre2 {
    color: var(--cor-terciaria); /* cor destaque */
  }
  
  /* FLEXBOX PARA ALINHAR */
  .conteudo-sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* permite quebrar em telas pequenas */
    gap: 2rem;
    margin-top: 2rem;
  }
  
  /* TEXTO */
  .sobre1 {
    flex: 1;
    font-size: 1.1rem;
    color: #ccc;
    line-height: 1.6;
    margin-top: 50px;
  }
  
  
  
  .habilidade{
    font-size: 50px;
    margin-top: 100px;

  }
  
  .flex{
    display: flex;               /* coloca um do lado do outro */
    justify-content: center;     /* centraliza na horizontal */
    align-items: center;         /* centraliza verticalmente */
    gap:25px;                   /* espaçamento entre ícones */
    padding:  20px;
    background-color: var(--cor-secundaria);
    border-radius: 12px;
    box-shadow: 0 0 15px var(--cor-terciaria);
    max-width: 550px;
    margin: 40px auto;
  }
  
  .flex i {
    font-size:60px;
    transition: transform 0.3s;
    padding:10px 90px 10px 90px;
  }
  
  .flex i:hover {
    transform: scale(1.2);
  }
  
  

  .projetos-box-proj1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin:100px;	
  }


  .projetos-box-proj1:hover{
    transform: scale(1.03);
  }

  .projrto-1{
    width:150px;
    height:100px;
    border-radius:4px;
    object-fit: cover;
    box-shadow: rgb(4,255,66)  0px 20px 30px -10px;
    border: #00ff88 solid 2px;
  }
 
 
 .link{
  margin:10px;
  text-decoration: none;
  color: #00ff88;
  font-size: 25px;
  font-weight: bold;
 font-family: 'Segoe UI', sans-serif;
 }


 .link:hover{
    color: #fff;
  }


   .contato-container {
    max-width: 600px;
    margin: 20rem auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    box-shadow: rgb(4,255,66)  0px 20px 30px -10px;
  }

  h2 {
    text-align: center;
    color: #00ff88;
  }

  label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color:#00ff88;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #00ff88;
    border-radius: 4px;
    resize: vertical;
    font-size: 1rem;
  }

  
  textarea {
    min-height: 120px;
  }

  .Enviar {
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: black;
    color:#00ff88;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    background-color: #218838;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
  }


  .social-links a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
  }

  .social-links a:hover {
    color: #00ff88;
  }

 @keyframes  flutuar{
  0%, 100%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-20px);
    }
    100%{
      transform: translateY(0);
    }
  }
 

  :root {
    --cor-primaria: #0F0F0F;
    --cor-secundaria: #202020;
    --cor-terciaria: #5DD62C;
    --cor-hover: #337418;
    --cor-hover: #F8F8F8;
  }
  
 